In [205]:
import pandas as pd

In [206]:
df = pd.read_csv('speeddating.csv')

In [207]:
df.head()

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,0,0
1,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,5.0,[6-8],[5-6],1.0,1,0,0
2,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,[0-3],[3-5],7.0,NaN,[6-8],[0-4],1.0,1,1,1
3,0,1,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,1,1
4,0,1,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,latino/hispanic american,0,...,[0-3],[3-5],6.0,6.0,[6-8],[5-6],0.0,1,1,1

In [208]:
# Correction de fautes
df.rename(columns = {'ambtition_important':'ambition_important', 'intellicence_important':'intelligence_important', 'samerace':'same_race', 'sinsere':'sincere', 'sinsere_o':'sincere_o',
                    'ambitous_o':'ambitious_o', 'd_sinsere_o':'d_sincere_o', 'd_ambitous_o':'d_ambitious_o', 'intellicence_important':'intelligence_important', 'd_intellicence_important':'d_intelligence_important'}, inplace = True)

In [209]:
df.columns[[i for i in range(50)]]

Index(['has_null', 'wave', 'gender', 'age', 'age_o', 'd_age', 'd_d_age',
       'race', 'race_o', 'same_race', 'importance_same_race',
       'importance_same_religion', 'd_importance_same_race',
       'd_importance_same_religion', 'field', 'pref_o_attractive',
       'pref_o_sincere', 'pref_o_intelligence', 'pref_o_funny',
       'pref_o_ambitious', 'pref_o_shared_interests', 'd_pref_o_attractive',
       'd_pref_o_sincere', 'd_pref_o_intelligence', 'd_pref_o_funny',
       'd_pref_o_ambitious', 'd_pref_o_shared_interests', 'attractive_o',
       'sincere_o', 'intelligence_o', 'funny_o', 'ambitious_o',
       'shared_interests_o', 'd_attractive_o', 'd_sincere_o',
       'd_intelligence_o', 'd_funny_o', 'd_ambitious_o',
       'd_shared_interests_o', 'attractive_important', 'sincere_important',
       'intelligence_important', 'funny_important', 'ambition_important',
       'shared_interests_important', 'd_attractive_important',
       'd_sincere_important', 'd_intelligence_important', 'd_funny_important',
       'd_ambtition_important'],
      dtype='object')

In [210]:
invariants = ['gender', 'age', 'race', 'importance_same_race', 'importance_same_religion', 'field', 'attractive_important', 'sincere_important', 'intelligence_important', 'funny_important', 'ambition_important', 'shared_interests_important', 'attractive', 'sincere', 'intelligence', 'funny', 'ambition', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'movies', 'concerts', 'music', 'shopping', 'yoga']

In [211]:
for i in range(len(invariants)): # Nombre de valeurs manquantes pour chaque colonne invariante
    print(df[invariants[i]].isnull().sum())

0
95
63
79
79
63
79
79
79
89
99
121
105
105
105
105
105
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79

In [212]:
df2 = df.copy()

In [213]:
df2.head()

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,same_race,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,0,0
1,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,5.0,[6-8],[5-6],1.0,1,0,0
2,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,[0-3],[3-5],7.0,NaN,[6-8],[0-4],1.0,1,1,1
3,0,1,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,1,1
4,0,1,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,latino/hispanic american,0,...,[0-3],[3-5],6.0,6.0,[6-8],[5-6],0.0,1,1,1

In [214]:
(df2.loc[1, ['has_null', 'wave', 'gender']] == df2.loc[2, ['has_null', 'wave', 'gender']]).sum()

2

In [215]:
df2.loc[0, 'id'] = 1

In [216]:
df[invariants].isna().any(axis=1).sum()

169

In [217]:
df2 = df2.dropna(subset=invariants) # Suppression des  lignes contenant des valeurs manquantes
df2 = df2.reset_index() # RÃ©indexation du dataframe

In [218]:
df2.head()

,index,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,...,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match,id
0,0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,...,[3-5],7.0,6.0,[6-8],[5-6],0.0,1,0,0,1.0
1,1,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,...,[3-5],7.0,5.0,[6-8],[5-6],1.0,1,0,0,NaN
2,2,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,...,[3-5],7.0,NaN,[6-8],[0-4],1.0,1,1,1,NaN
3,3,0,1,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,european/caucasian-american,...,[3-5],7.0,6.0,[6-8],[5-6],0.0,1,1,1,NaN
4,4,0,1,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,latino/hispanic american,...,[3-5],6.0,6.0,[6-8],[5-6],0.0,1,1,1,NaN

In [219]:
del df2['index']

In [220]:
df2

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,same_race,...,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match,id
0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,0,...,[3-5],7.0,6.0,[6-8],[5-6],0.0,1,0,0,1.0
1,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,0,...,[3-5],7.0,5.0,[6-8],[5-6],1.0,1,0,0,NaN
2,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,[3-5],7.0,NaN,[6-8],[0-4],1.0,1,1,1,NaN
3,0,1,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,european/caucasian-american,0,...,[3-5],7.0,6.0,[6-8],[5-6],0.0,1,1,1,NaN
4,0,1,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,latino/hispanic american,0,...,[3-5],6.0,6.0,[6-8],[5-6],0.0,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8204,1,21,male,25.0,26.0,1,[0-1],european/caucasian-american,latino/hispanic american,0,...,[3-5],2.0,5.0,[0-5],[5-6],0.0,0,1,0,NaN
8205,1,21,male,25.0,24.0,1,[0-1],european/caucasian-american,other,0,...,[3-5],4.0,4.0,[0-5],[0-4],0.0,0,0,0,NaN
8206,1,21,male,25.0,29.0,4,[4-6],european/caucasian-american,latino/hispanic american,0,...,[3-5],6.0,5.0,[6-8],[5-6],0.0,0,0,0,NaN
8207,1,21,male,25.0,22.0,3,[2-3],european/caucasian-american,asian/pacific islander/asian-american,0,...,[3-5],5.0,5.0,[0-5],[5-6],0.0,0,1,0,NaN
8208,1,21,male,25.0,22.0,3,[2-3],european/caucasian-american,asian/pacific islander/asian-american,0,...,[3-5],4.0,5.0,[0-5],[5-6],0.0,0,1,0,NaN

In [221]:
df2.loc[[i for i in range(10, 20)], invariants]

,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,funny_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
10,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
11,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
12,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
13,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
14,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
15,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
16,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
17,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
18,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
19,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0

In [222]:
# CrÃ©ation d'une colonne id

id=0
caracteristiques = df2.loc[0, invariants]
for i in range (len(df2)):
    if (caracteristiques == df2.loc[i, invariants]).sum() < len(invariants): # invariants non vÃ©rifiÃ©s
        caracteristiques = df2.loc[i, invariants]
        id += 1
        df2.loc[i, 'id'] = id
    else:
        df2.loc[i, 'id'] = id

In [223]:
df2.head()

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,same_race,...,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match,id
0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,0,...,[3-5],7.0,6.0,[6-8],[5-6],0.0,1,0,0,0.0
1,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,0,...,[3-5],7.0,5.0,[6-8],[5-6],1.0,1,0,0,0.0
2,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,[3-5],7.0,NaN,[6-8],[0-4],1.0,1,1,1,0.0
3,0,1,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,european/caucasian-american,0,...,[3-5],7.0,6.0,[6-8],[5-6],0.0,1,1,1,0.0
4,0,1,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,latino/hispanic american,0,...,[3-5],6.0,6.0,[6-8],[5-6],0.0,1,1,1,0.0

In [224]:
# InsÃ©rer la colonne 'id' au dÃ©but du tableau

id = df2[['id']]
del df2['id']
df2.insert(0, 'id', id)

In [225]:
df2['id'] = df2['id'].astype(int)

In [226]:
df2

,id,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,0,0
1,0,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,...,[0-3],[3-5],7.0,5.0,[6-8],[5-6],1.0,1,0,0
2,0,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,...,[0-3],[3-5],7.0,NaN,[6-8],[0-4],1.0,1,1,1
3,0,0,1,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,european/caucasian-american,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,1,1
4,0,0,1,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,latino/hispanic american,...,[0-3],[3-5],6.0,6.0,[6-8],[5-6],0.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8204,537,1,21,male,25.0,26.0,1,[0-1],european/caucasian-american,latino/hispanic american,...,[0-3],[3-5],2.0,5.0,[0-5],[5-6],0.0,0,1,0
8205,537,1,21,male,25.0,24.0,1,[0-1],european/caucasian-american,other,...,[0-3],[3-5],4.0,4.0,[0-5],[0-4],0.0,0,0,0
8206,537,1,21,male,25.0,29.0,4,[4-6],european/caucasian-american,latino/hispanic american,...,[0-3],[3-5],6.0,5.0,[6-8],[5-6],0.0,0,0,0
8207,537,1,21,male,25.0,22.0,3,[2-3],european/caucasian-american,asian/pacific islander/asian-american,...,[0-3],[3-5],5.0,5.0,[0-5],[5-6],0.0,0,1,0
8208,537,1,21,male,25.0,22.0,3,[2-3],european/caucasian-american,asian/pacific islander/asian-american,...,[0-3],[3-5],4.0,5.0,[0-5],[5-6],0.0,0,1,0

In [240]:
df_personal = pd.DataFrame([], columns = invariants)

In [241]:
df_personal.insert(0, 'id', [])

In [242]:
df_personal

Empty DataFrame
Columns: [id, gender, age, race, importance_same_race, importance_same_religion, field, attractive_important, sincere_important, intelligence_important, funny_important, ambition_important, shared_interests_important, attractive, sincere, intelligence, funny, ambition, sports, tvsports, exercise, dining, museums, art, hiking, gaming, clubbing, reading, tv, movies, concerts, music, shopping, yoga]
Index: []

[0 rows x 34 columns]

In [243]:
carac = df2.loc[df2['id'] == 0].loc[0, invariants]

In [244]:
carac

gender                                                       female
age                                                            21.0
race                          asian/pacific islander/asian-american
importance_same_race                                            2.0
importance_same_religion                                        4.0
field                                                           law
attractive_important                                           15.0
sincere_important                                              20.0
intelligence_important                                         20.0
funny_important                                                15.0
ambition_important                                             15.0
shared_interests_important                                     15.0
attractive                                                      6.0
sincere                                                         8.0
intelligence                                                    8.0
funny                                                           8.0
ambition                                                        7.0
sports                                                          9.0
tvsports                                                        2.0
exercise                                                        8.0
dining                                                          9.0
museums                                                         1.0
art                                                             1.0
hiking                                                          5.0
gaming                                                          1.0
clubbing                                                        5.0
reading                                                         6.0
tv                                                              9.0
movies                                                         10.0
concerts                                                       10.0
music                                                           9.0
shopping                                                        8.0
yoga                                                            1.0
Name: 0, dtype: object

In [245]:
pd.DataFrame(carac).transpose()

,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,funny_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,15.0,...,5.0,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0

In [246]:
indiv = df2.loc[df2['id'] == 2]
indiv.head(1)[invariants]

,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,funny_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
20,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,10.0,...,8.0,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0

In [247]:
df_personal

Empty DataFrame
Columns: [id, gender, age, race, importance_same_race, importance_same_religion, field, attractive_important, sincere_important, intelligence_important, funny_important, ambition_important, shared_interests_important, attractive, sincere, intelligence, funny, ambition, sports, tvsports, exercise, dining, museums, art, hiking, gaming, clubbing, reading, tv, movies, concerts, music, shopping, yoga]
Index: []

[0 rows x 34 columns]

In [248]:
# CrÃ©ation d'un dataframe contenant les infos personnelles uniquement des candidats

for id in range(0,538):
    indiv = df2.loc[df2['id'] == id] # RÃ©cupÃ¨re les lignes concernant l'individu i
    carac = indiv.head(1)[invariants] # RÃ©cupÃ¨re les invariants de l'individu identifiÃ© i
    df_personal = pd.concat([df_personal, carac]) # Ajout de la ligne Ã  df_personal
    df_personal.iloc[id, 0] = id

In [249]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
0,0.0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,5.0,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0
10,1.0,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
20,2.0,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,8.0,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0
30,3.0,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,7.0,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0
40,4.0,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8099,533.0,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,2.0,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0
8121,534.0,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,4.0,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0
8143,535.0,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0
8165,536.0,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,2.0,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0
8187,537.0,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,7.0,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0

In [250]:
df_personal['id'] = df_personal['id'].astype(int)

In [251]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,5.0,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0
10,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
20,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,8.0,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0
30,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,7.0,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0
40,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8099,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,2.0,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0
8121,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,4.0,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0
8143,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0
8165,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,2.0,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0
8187,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,7.0,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0

In [252]:
df_personal = df_personal.reset_index()

In [253]:
df_personal

,index,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
0,0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,...,5.0,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0
1,10,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
2,20,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,...,8.0,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0
3,30,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,...,7.0,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0
4,40,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,...,6.0,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,8099,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,...,2.0,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0
534,8121,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,...,4.0,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0
535,8143,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,...,3.0,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0
536,8165,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,...,2.0,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0
537,8187,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,...,7.0,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0

In [254]:
del df_personal['index']

In [255]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,5.0,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0
1,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
2,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,8.0,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0
3,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,7.0,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0
4,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,2.0,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0
534,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,4.0,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0
535,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0
536,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,2.0,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0
537,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,7.0,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0

In [256]:
# Ajout de note_moyenne et note_moyenne_o dans le gros dataframe

df2['note_moyenne'] = 1/100 * (df2['attractive_important']*df2['attractive_partner'] + df2['sincere_important']*df2['sincere_partner'] + 
                               df2['intelligence_important']*df2['intelligence_partner'] + df2['funny_important']*df2['funny_partner'] + 
                               df2['ambition_important']*df2['ambition_partner'])

df2['note_moyenne_o'] = 1/100 * (df2['pref_o_attractive']*df2['attractive_o'] + df2['pref_o_sincere']*df2['sincere_o'] + 
                                 df2['pref_o_intelligence']*df2['intelligence_o'] + df2['pref_o_funny']*df2['funny_o'] + 
                                 df2['pref_o_ambitious']*df2['ambitious_o'])

In [258]:
df2

,id,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,...,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match,note_moyenne,note_moyenne_o
0,0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,...,7.0,6.0,[6-8],[5-6],0.0,1,0,0,6.05,6.90
1,0,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,...,7.0,5.0,[6-8],[5-6],1.0,1,0,0,6.00,7.00
2,0,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,...,7.0,NaN,[6-8],[0-4],1.0,1,1,1,6.10,8.80
3,0,0,1,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,european/caucasian-american,...,7.0,6.0,[6-8],[5-6],0.0,1,1,1,5.80,7.50
4,0,0,1,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,latino/hispanic american,...,6.0,6.0,[6-8],[5-6],0.0,1,1,1,5.30,6.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8204,537,1,21,male,25.0,26.0,1,[0-1],european/caucasian-american,latino/hispanic american,...,2.0,5.0,[0-5],[5-6],0.0,0,1,0,NaN,3.40
8205,537,1,21,male,25.0,24.0,1,[0-1],european/caucasian-american,other,...,4.0,4.0,[0-5],[0-4],0.0,0,0,0,4.60,5.15
8206,537,1,21,male,25.0,29.0,4,[4-6],european/caucasian-american,latino/hispanic american,...,6.0,5.0,[6-8],[5-6],0.0,0,0,0,5.20,1.90
8207,537,1,21,male,25.0,22.0,3,[2-3],european/caucasian-american,asian/pacific islander/asian-american,...,5.0,5.0,[0-5],[5-6],0.0,0,1,0,NaN,4.30
8208,537,1,21,male,25.0,22.0,3,[2-3],european/caucasian-american,asian/pacific islander/asian-american,...,4.0,5.0,[0-5],[5-6],0.0,0,1,0,3.60,5.30

In [260]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,5.0,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0
1,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
2,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,8.0,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0
3,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,7.0,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0
4,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,2.0,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0
534,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,4.0,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0
535,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0
536,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,2.0,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0
537,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,7.0,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0

In [261]:
df_test = df_personal.copy()

In [262]:
df_test['match'] = df2.groupby('id')['match'].sum()

In [271]:
df_test

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga,match
0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0,4
1,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0,2
2,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0,0
3,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0,2
4,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0,5
534,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0,5
535,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0,4
536,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0,2
537,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0,6

In [273]:
df_test.rename(columns = {'match': 'nb_match'}, inplace = True)

In [274]:
df_test

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga,nb_match
0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0,4
1,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0,2
2,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0,0
3,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0,2
4,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0,5
534,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0,5
535,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0,4
536,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0,2
537,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0,6

In [275]:
df_personal = df_test

In [276]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga,nb_match
0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0,4
1,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0,2
2,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0,0
3,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0,2
4,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0,5
534,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0,5
535,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0,4
536,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0,2
537,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0,6

In [277]:
# EXECUTER SEULEMENT QUAND TOUTES LES MODIFICATIONS ONT BIEN ETE FAITES !!!

df_personal.to_csv('speeddating personal.csv')

In [ ]:
# EXECUTER SEULEMENT QUAND TOUTES LES MODIFICATIONS ONT BIEN ETE FAITES !!!

df2.to_csv('speeddating modified.csv')